body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    background: lightblue;
}
h1{
    margin: 0;
}
div{
    text-align: center;
}
.container{
    width: 100%;
    height: 100%;
    text-align: center;
    /* background: yellow; */
}
#buttons{
    text-align: center;
}
#newbet{
    /* background: green; */
    height: 20%;
}
#left{
    width: 30%;
    height: 80%;
    float: left;
    /* background: red; */
}
#middle{
    /* background: purple; */
    width:40%;
    height: 80%;
    float: left;
}
#right{
    /* background: orange; */
    width: 30%;
    height: 80%;
    float: right;
}
.card, .requestedBets{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 #000000;
    transition: 0.1s;
    width: 90%;
    margin: 0 auto;
    background: #F9B759;
    height: 20%;
}

.requestedBets{
    background-color: red;
    margin-top: 30px;
}
/* On mouse-over, add a deeper shadow */
.card:hover, .requestedBets:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.inner, .requestedBetsCard{
    height: 100%;
}

.userNameText, .amountText, .oponentNameText{
    display: inline;
}
.descriptionText{
    font-size: 200%;
}
