body.html{
  background:lightblue;
}

.box {
  align="left";
}

h1 {
  text-align: center;
  color: green;
  font-size: 60px;
}

#login {
  text-align: center;
}

#logininput {
  text-align: center;
}

.txtEmail {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.txtPass {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.btnLogin {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#signup {
  text-align: center;
}

.btnSignUp {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#signupbox {
  text-align: center;
}

.btnLogOut{
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
